@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h1{
  font-size: 1px;
  font-weight:lighter;
}
.header{
  color:purple;
  font-size: 1px;
  background-color: azure;
}
.content{
  background-color: azure;
  min-height: 90vh;
  color:purple;
}
